doctype html
html
  head
    title Accueil
    link(rel='stylesheet', href='/css/style.css')
  body
    include navbar
    h1 Bienvenue sur la page d'accueil 
    img(src='https://img.freepik.com/photos-gratuite/avion-commercial-volant-decollant-au-coucher-du-soleil-ciel-dramatique-genere-par-ia_188544-55990.jpg')
    p
      | Découvrez l'expérience unique de vol avec notre compagnie aérienne. Nous offrons des services de haute qualité pour rendre votre voyage mémorable.