doctype html
html
  head
    title Confirmation
    link(rel='stylesheet', href='/css/style.css')
  body
    include navbar
    h1 Merci pour votre message
    p
      | Nous avons bien reçu votre message. Nous vous contacterons dans les plus brefs délais.