doctype html
html
  head
    title Nos services
    link(rel='stylesheet', href='/css/style.css')
  body
    include navbar
    h1 Nos Services
    ul
      li Service de vol en avion privé
      li Cours de pilotage
      li Maintenance d'aéronefs
    p
      | Nos services sont conçus pour répondre à toutes vos exigences en matière d'aviation. Que vous soyez passionné de vol ou que vous ayez des besoins spécifiques, nous sommes là pour vous servir.